.note svg.material-icons path {
  fill: #888;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.note {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.note-container .note:not(:last-child) {
  margin-right: 0;
}

.note .note-small {
  height: 16px;
  width: 168px;
}

.note-container .note:not(.highlight-note) {
  cursor: pointer;
}

.note-container .note:not(.highlight-note):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.note-container .note:not(.highlight-note):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.note.highlight-note {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.note.note.highlight-note span {
  margin-left: 60px;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
  .note-container > *:not(.circle-link) {
    width: 100%;
  }

  .note:not(.highlight-note) {
    height: 16px;
    margin: 8px 0;
  }

  .note.highlight-note span {
    margin-left: 72px;
  }
}

@media screen and (max-width: 575px) {
}
