<form class="add-form" (ngSubmit)="(onSubmit)">
  <div class="form-container">
    <label for="title">Title</label>
    <input type="text" name="title" [(ngModel)]="title" id="title" />
  </div>
  <div class="form-container">
    <label for="text">Text</label>
    <input type="text" name="text" [(ngModel)]="text" id="text" />
  </div>
  <div class="form-container">
    <label for="important">important</label>
    <input
      type="checkbox"
      name="important"
      [(ngModel)]="important"
      id="important"
    />
  </div>
  <input type="submit" value="Add Note" class="btn" />
</form>
